<%= form_for(@candidate,:remote => true) do |f| %>
  <div class="row">

    <div id='candidate_error'>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :first_name,:placeholder => "FIRST NAME", :required => true %>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :last_name ,:placeholder => "LAST NAME", :required => true%>
    </div>


    <div class="large-6 medium-6 column">
      <%= f.text_field :city ,:placeholder => "CITY", :required => true%>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.select :country, Candidate.country_names,{} %>
    </div>

    <div class="large-12 column">
      <%= f.text_field :email, :placeholder => "EMAIL ADDRESS", :required => true %>
    </div>
  </div>

  <div class="large-12 column text-center">
    <%= f.submit "SIGN UP AS A CANDIDATE" ,:class => "button radius red"%>
  </div>

<% end %>