<%= form_for(@company,:remote => true) do |f| %>
  <div class="row">

    <div id='company_error'>

    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :first_name,:placeholder => "FIRST NAME" %>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :last_name ,:placeholder => "LAST NAME"%>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :company_name ,:placeholder => "COMPANY NAME"%>
    </div>

    <div class="large-6 medium-6 column">
      <%= f.text_field :position, :placeholder => "POSITION" %>
    </div>

    <div class="large-12 column">
      <%= f.text_field :email,:placeholder => "EMAIL ADDRESS" %>
    </div>
  </div>

  <div class="large-12 column text-center">
    <%= f.submit "SIGN UP AS A COMPANY" ,:class => "button radius green"%>
  </div>
<% end %>